/*
  Tan: #c59c67
  Light Tan: #dac09e
  Compliment Blue: #6790C5
*/

/*
  Robin Blue: #58b2fd
  Silver Grey: #b5bad0
*/

$primary-color: #58b2fd;
$secondary-color: #b5bad0;
$background-color: #ffffff;
$background-contrast: #0f0f0fe6;
